<div class="signup_container">
    <form id="signup" ng-submit="signupCtrl.submitSignup()">
        <div class="header">
            <h3>Únete</h3>
            <p>¡Empieza a diseñar!</p>
        </div>

        <div class="inputs">
            <input class="signup_email" placeholder="Nombre" autofocus ng-model="signupCtrl.name" />
            <input class="signup_email" type="email" placeholder="Correo electrónico" autofocus ng-model="signupCtrl.email" />
            <input class="signup_password" type="password" placeholder="Contraseña"  ng-model="signupCtrl.password"/>
            
            <!-- TODO: Terms and conditions
            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">Acepto los términos y condiciones</label>
            </div>
            -->

            <button id="submit" type="submit">SIGN UP FOR INVITE NOW</button>
        </div>
    </form>
</div>
